{% extends "admin/admin.html.twig" %}

{% block title "All recipes" %}

{% block body %}
    <a class="btn btn-primary" href='{{ path('admin.recipe.create')}}'>Create recipe</a>

    <form method="post" name="selectCategory" action="{{ path('admin.recipe.filter') }}">
        <label for="category">Choose a category: </label>
        <select name="category" id="category">
        <option value='all' {% if slug is defined and slug == 'all' %}selected{% endif %}>All</option>
            {% for category in categories %}
            <option value={{ category.slug }} {% if slug is defined and slug == category.slug %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit" value="send">Send</button> 
    </form>

    {% if recipes is defined %}
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th style="width: 100px">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
        <tr>
            <td><a href='{{ path('admin.recipe.edit', {id: recipe.id, slug: recipe.slug}) }}'>{{recipe.title}}</a></td>
            <td>
                <div class="d-flex gap-1">
                    <a class="btn btn-primary btn-sm" href='{{ path('admin.recipe.edit', {id: recipe.id}) }}'>Edit</a>
                    <form action="{{ path('admin.recipe.delete', {id: recipe.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-warning btn-sm">Delete</button>
                    </form>
                </div>                
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}