{% extends 'admin/admin.html.twig' %}

{% block title "Category" %}

{% block body %}
    <a class="btn btn-primary" href='{{ path('admin.category.create')}}'>Create category</a>

    {% if categories is defined %}
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
            <td><a href='{{ path('admin.category.edit', {id: category.id, slug: category.slug}) }}'>{{category.name}}</a></td>
            <td>
                <div class="d-flex gap-1">
                    <a class="btn btn-primary btn-sm" href='{{ path('admin.category.edit', {id: category.id}) }}'>Edit</a>
                    <form action="{{ path('admin.category.delete', {id: category.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-warning btn-sm">Delete</button>
                    </form>
                </div>                
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
